@charset "UTF-8";
/* CSS Document */

*,html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,label,fieldset,input,p,blockquote,th,td{margin:0;
padding:0; text-decoration: none;}
table{border-collapse:collapse;
border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;
font-weight:400}
ol,ul,li{list-style:none; text-decoration:none;}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;
font-weight:400}
q:before,q:after{content:''}
strong{font-weight:700}em{font-style:italic}
a img{border:0}
.aligncenter{display:block;
margin:0 auto}
.alignleft{float:left}
.alignright{float:right}
.wp-caption{border:1px solid #666;
text-align:center;
background:#ccc;
padding:10px;
margin:10px}
.clear{clear:both;
zoom:1}
.container{position:relative;
max-width:1e3px;
margin:auto;
padding:0 20px}
.table{width:100%;
height:100%;
display:table}


#wrap {min-height:100%;height:auto;margin:0;padding:0;overflow:hidden}

/*TEXTOS*/
.titulos {color: #96D7F5;
position: relative;
font-family:'Open Sans', helvetica, arial, sans-serif;
font-size:50px;
font-weight:800;
font-style:normal;
margin: 4rem 0 3rem 6rem; }
.titulos2 {
margin: 2rem 0 3rem 6rem; }

.header{position:fixed;
top:0;
background-color:#fff;
width:100%;
height:70px;
/*border-bottom:#ededed solid 1px;
-webkit-box-shadow:0 2px 2px 0 #f5f5f5;
-moz-box-shadow:0 2px 2px 0 #f5f5f5;
box-shadow:0 2px 2px 0 #f5f5f5;*/
font-family: 'Open Sans', helvetica, arial, sans-serif;
font-weight:300;
font-style:normal;
font-size:14px;
z-index:1000; text-decoration:none;}

.logo {
height:auto;
display:block;
padding:0;
z-index:10000;
margin:0.25rem 0 0 0.8rem;
}
.header a {color: #989da1}
.header a:hover {color: #ffffff}
/*.header .menu, .menu-header{
display:inline-block;
}
/*MENUPOPUP STYLE
.header .menu a{color:#989da1;
text-decoration:none;
text-transform:uppercase;
}
/*MENU TEXT STYLE
.header .menu a:hover{color:#ffffff;}

.header .menu .current_page_item a,.header .menu .current-page-ancestor a{color:#3d454c}

.header .menu li{display:block;
float:left;
line-height: 3rem;
padding:0 20px; }*/

.header-login{position:absolute;
right:1rem; display:inline-block;
/*border-left:solid #f5f5f5 1px*/}

.header-login:hover svg, .header-login a:hover svg path, .header-login a:hover, .header-login svg:hover{fill:#0394D6}

.header-login svg, .header-login{
/*width:40px;*/
height:50px}

.header-login svg{
fill:#989da1;
padding-top:13px}

.btn{background:green;
color:#fff}

.mobile-nav {display:block; z-index:1000;}

.diapos {height:22rem; position:relative; left:0px; width:1300px; overflow:hidden; margin:0 auto; top:65px; visibility:hidden; }
.panoslides {cursor:default;position:relative;top:0px;left:0px;width:1300px;height:310px;overflow:hidden;}
.jssor_2 {top:25px;height:300px;}
.jssorb031 {bottom:10px;}

/*SLIDERS*/
        /*jssor slider loading skin double-tail-spin css*/
        .jssorl-004-double-tail-spin img {
            animation-name: jssorl-004-double-tail-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-004-double-tail-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        /*jssor slider bullet skin 031 css*/
        .jssorb031 {position:absolute;}
        .jssorb031 .i {position:absolute;cursor:pointer;}
        .jssorb031 .i .b {fill:#B7B7B7; stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
        .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
        .jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
        .jssorb031 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
/*jssor slider CAROUSEL loading skin double-tail-spin css*/

 /*jssor slider arrow skin 052 css*/
        .jssora052 {display:block;position:absolute;cursor:pointer; width:120px;height:55px;top:248px;right:25px;}
        .jssora052 .a {fill:none;stroke:#000;stroke-width:360;stroke-miterlimit:10;}
        .jssora052:hover {opacity:.8;}
        .jssora052.jssora052dn {opacity:.5;}
        .jssora052.jssora052ds {opacity:.3;pointer-events:none;}



       
		
		
.IMAGECOL{/*-ms-flex-preferred-size:100%;
flex-basis:100%;
max-width:100%; float:left; left:0%;*/
display: block;
position: relative;
padding: 4px;
min-width:50%;
}

.IMAGECOL img {display:block; max-width:50%; margin:auto;/*max-height:100%;  margin-left:0%;*/ }

.FRAME {/*box-shadow: 0.075rem 0 0 0 #C9C9C9,0 0.075rem 0 0 #C9C9C9,0.075rem 0.075rem 0 0 #C9C9C9,0.075rem 0 0 0 #C9C9C9 inset,0 0.075rem 0 0 #C9C9C9 inset;
display: -webkit-flex;
display: -ms-flexbox; 
display: flex; 
overflow: hidden;
-ms-flex-preferred-size:100%;
flex-basis:100%;*/
position: relative;
float:left;
background: #FFFFFF;
max-height: 100%;
justify-content: space-between;
box-sizing:border-box;
flex: 10%;
max-width: 10%;
}

.columnas {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}



/*HAMBURGER*/
.menu-btn{position:absolute;
display:inline-block;
right:5rem;
top:1.4rem;
cursor:pointer}

.menu-btn div{
position:absolute;
left:-0.75rem;
top:64%;
/*padding-right:0.6rem;
line-height:1.2;
*/
margin-top:-0.15em;
font-size:12px;
font-weight:200;
vertical-align:middle;
z-index:99}

/*HAMBURGER STYLE*/
.hamburger:hover{opacity:.6; }
.hamburger-box{position:relative; display:inline-block; width:40px;height:24px}
.hamburger-inner{top:50%; display:block; margin-top:-2px}
.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before{position:absolute; width:30px; height:3px;transition-timing-function:ease;transition-duration:.15s;transition-property:transform;border-radius:4px;background-color:#989da1}
.hamburger-inner:after,.hamburger-inner:before{display:block;content:""}
.hamburger-inner:before{top:-10px}
.hamburger-inner:after{bottom:-10px}
.hamburger--spin .hamburger-inner{transition-timing-function:cubic-bezier(.55,.055,.675,.19);transition-duration:.22s}
.hamburger--spin .hamburger-inner:before{transition:top .1s ease-in .25s,opacity .1s ease-in}
.hamburger--spin .hamburger-inner:after{transition:bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19)}
.hamburger--spin.is-active .hamburger-inner{transition-delay:.12s;transition-timing-function:cubic-bezier(.215,.61,.355,1);transform:rotate(225deg)}
.hamburger--spin.is-active .hamburger-inner:before{top:0;transition:top .1s ease-out,opacity .1s ease-out .12s;opacity:0}
.hamburger--spin.is-active .hamburger-inner:after{bottom:0;transition:bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;transform:rotate(-90deg)}
.hamburger--spin-r .hamburger-inner{transition-timing-function:cubic-bezier(.55,.055,.675,.19);transition-duration:.22s}
.hamburger--spin-r .hamburger-inner:before{transition:top .1s ease-in .25s,opacity .1s ease-in}
.hamburger--spin-r .hamburger-inner:after{transition:bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19)}
.hamburger--spin-r.is-active .hamburger-inner{transition-delay:.12s;transition-timing-function:cubic-bezier(.215,.61,.355,1);transform:rotate(-225deg)}
.hamburger--spin-r.is-active .hamburger-inner:before{top:0;transition:top .1s ease-out,opacity .1s ease-out .12s;opacity:0}
.hamburger--spin-r.is-active .hamburger-inner:after{bottom:0;transition:bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;transform:rotate(90deg); }

/*HAMBURGER STYLE
.menu-btn span{display:block;
width:1.5rem;
height:2px;
margin:4px 0;
background:#989da1;
z-index:99}

.menu-btn span:hover{
background:#000000;
}
/*MENU STYLE*/
.responsive-menu{
display:none;
position:absolute;
right:0;
top:4.35rem;
font-size:14px;
border-bottom:#ededed solid 1px;
border-left:#ededed solid 1px;
-webkit-box-shadow:0 2px 2px 0 #f5f5f5;
-moz-box-shadow:0 2px 2px 0 #f5f5f5;
box-shadow:0 2px 2px 0 #f5f5f5;
border-top:#ededed solid 1px;
width:12rem;
box-sizing:border-box;
background:#fff;
}
/*––––––––––––––––––––––*/
.responsive-menu .menu-header{display:block}
.responsive-menu .menu-header ul{background:#fff;
position:relative;
display:block}
/*MENU BACKGROUND*/
.responsive-menu .menu-header li{
background:#fff;
float:none;
line-height:3.25rem;
width:100%;
text-align:center;
border-bottom:#ededed solid 1px;
position:relative;
padding:0; color:#989da1;}

.responsive-menu .menu-header li:hover { background-color:#61CBFF; color:#FFFFFF}
.responsive-menu .menu-header li:hover .menu {color:#FFFFFF;}
.responsive-menu .menu-header li a {margin: 0px; display: block; width: 100%; height: 100%;}

/*.responsive-menu .menu-header li:last-child{border-bottom:0}*/
.expand{display:block!important}
/*SUBMENU STYLE*/
.responsive-menu .menu-header li .sub-menu{display:none;
font-size:13px; background-color:red;}
.responsive-menu .menu-header li .sub-menu li{border-bottom:0;
line-height:2.5rem; background-color:#d4f2ff;}
.responsive-menu .menu-header li .sub-menu li:hover {background-color:#9be0ff;}
/*+ - STYLE*/
.open-menu-link{display:none;
position:absolute;
right:1.2rem;
top:0;
line-height:2.8rem;
color:#989da1;
font-size:24px;
cursor:pointer}
.open-menu-link:hover {color:#FFFFFF}
.responsive-menu .menu-header li .visible{display:block}

@media(max-width:90em){
.FRAME {
flex: 20%;
max-width: 20%;
}
}


@media(max-width:56em){
.diapos { height: 50rem;}
.FRAME {
flex: 25%;
max-width: 25%;
}
}


@media(max-width:40em){
.responsive-menu {
    font-size: 24px;
}
.responsive-menu .menu-header li .sub-menu {
    font-size: 20px;
}
.responsive-menu,.responsive-menu .menu-header,.responsive-menu .menu-header .menu{width:100%}
.responsive-menu .menu-header li{text-align:center}
.diapos { height: 25rem;}
.panoslides {top:25px}
.titulos {
font-size:20px;
margin: 4.5rem 0 0.5556rem 1rem; }
.titulos2 {margin: 0.5rem 0 0.5556rem 1rem;}
/*.jssor_2 {top: 0;
height: 170px;}*/
.jssorb031 {bottom:0px;}
.jssora052 {width:140px;height:auto;}

.FRAME {
flex: 33%;
max-width: 33%;
}
}


